.status {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  height: 24px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 24px;
  cursor: pointer;
}

.square:focus,
button:focus {
  outline: none;
}

button {
  cursor: pointer;
}
.game {
  padding: 20px;
  background: #e8e8e8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin: 20px;
}
